<!DOCTYPE html>
<html lang='en'>
<head>
<link href='/static/bootstrap/docs/assets/css/bootstrap.css'
	rel='stylesheet' />
</head>

<body>
	<script
		src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js'></script>
	<script src='/static/bootstrap/docs/assets/js/bootstrap.js'></script>

	<div class='container-fluid'>
		<div class='row-fluid page-header'>
			<div class='span10'>
				<h1 style = 'font-size:3em;'>ApocaLinksNow</h1>
			</div>
		</div>
	</div>
	<div class='container-fluid'>
		<div class='row-fluid'>
		{% block sidebar %}
		{% endblock sidebar %}

			<div class='span8'>
				<table class='table table-striped'>
					<thead>
						<tr>
							<th><h3>Website</h3></th>

							<th><h3>User</h3></th>

							<th><h3>Time and Date</h3></th>
						</tr>
					</thead>

					<tbody>
						{% if url_list %} {% for url in url_list %}
						<tr>
							<td><a href='{{ url.url }}' target="_blank" /> {{ url.title }} </a></td>
							<td>{{ url.user }}</td>
							<td>{{ url.date }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				<tr>
					<td><a href='http://www.sausagelink.co'>The title of the
							webpage will be here as a link</a></td>
					<td>The person who shared</td>
					<td>December 7, 1941, 6:00 a.m.</td>
					</tbody>
					{% endif %}
			</div>
		</div>
	</div>




</body>
</html>