<!doctype = "html">
<html>
<head>
<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/harvard_style.css" type='text/css'>
<title>Sharing is caring</title></head>
<style>
</style>

<body>
	<div id = 'header'>
	<header>
	<a href = 'http://www.sausagelink.co'><h1>SausageLink</h1></a>
	<ul id = 'themes'>
	<li><a href = '/theme/corkboard/'>Corkboard | </a></li>
	<li><a href = '/theme/harvard/'>Harvard</a></li>
	</ul>
	</header>
	</div>
	
	<div id = 'bookmarkform'>
	<h3>Get your bookmark here.</h3>
	<form name='get_username' action='/' method='get'>
	<input type="text" name = "name"/>
	<input type='submit' value='Submit'/>
	</form>
	{% if bookmark %}
	<p>Drag this link to your bookmarks bar --> <a href="javascript: f = 'http://sausagelink.co/add?url='
			+ encodeURIComponent(window.location.href)
			+ '&title='
			+ encodeURIComponent(document.title)
			+ '&user={{ bookmark }}';
window.open(f, 'title','height=200, width=400')">{{ bookmark }}</a>
	<br/>
	Click it to add a link to this page.
	<br/>
	(You may have to accept a pop-up the first time.)</p>
	{% else %}
	<p>Enter the username you would like to be known by.
	<br/>
	And, it will return to you your custom bookmark.</p>
	{% endif %}
	</div>
	
	
	
	
	<table>
	<th>Webbsite</th>
	<th>User</th>
	<th>Time and Date</th>
	{% if url_list %}
	{% for url in url_list %}
	<tr>
	<td><a href ='{{ url.url }}' target="_blank"/>{{ url.title }} </a></td>
	<td>{{ url.user }}</td>
	<td>{{ url.date }}</td>
	</tr>
	{% endfor %}
	</table>
	{% else %}
	<tr>
	<td><a href ='http://www.sausagelink.co'>The title of the webpage will be here as a link</a></td>
	<td>The person who shared</td>
	<td>December 7, 1941, 6:00 a.m.</td>
	{% endif %}

<div id='footer'>
<footer>
<p>If you have any suggestions or comments please contact me at <a href='mailto:mail@sausagelink.co' />mail@sausagelink.co</a></p>
</footer>
</div>
</body>

</html>