{% extends 'base.html' %}

{% block sidebar %}
			<div class='span4'>
				{% if bookmark %}
				
				<div class ='alert alert-success span12' style="margin-left:9px;">
				<button class="close" data-dismiss="alert" onclick = 'javascript:window.location = "/"'>×</button>
				<p><h4>Drag this link ---> <strong><a
						href="javascript: f = 'http://apocalinksnow.com/add?url='
			+ encodeURIComponent(window.location.href)
			+ '&title='
			+ encodeURIComponent(document.title)
			+ '&user={{ bookmark }}';
window.open(f, 'title','height=250, width=400')">
				{{bookmark }}</a></strong> up into your bookmarks bar.</h4></p>
				<p>When you're on a page you want to share just click it!</p>
				</div>
				{% else %}
				{% endif %}
				
				<div class = 'span12 well'>
				<h2>Get a username</h2>
				<form class="" action = '/home/'>
					<input name = 'name' type="text" class="span12"
						placeholder="Choose any name you want">
						<span class="help-block span12"><h3 style = 'text-align:center;'>Three steps!</h3>
				<ol>
				<li>Your username is your bookmark</li>
				<li>Drag it to your bookmarks bar</li>
				<li>Click your new bookmark to share links to this page</li>
				</ol></span>
					<button type="submit" class="btn btn-success btn-large">Get Your Bookmark</button>
				</form>
				</div>
				</div>

{% endblock sidebar %}